*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background-color: rgb(0 8 20 / var(--tw-bg-opacity));
}

section::before{
    content: '';
    position: absolute;
    width: 300px;
    height:300px;
    background: linear-gradient(#ffeb3b,#e91e63);
    border-radius: 50%;
    transform: translate(-420px,-120px);
}

section::after{
    content: '';
    position: absolute;
    width: 250px;
    height:250px;
    background: linear-gradient(#219653,#e91e63);
    border-radius: 50%;
    transform: translate(400px,150px);
}

.container{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255,255,0.25);
    border-right: 1px solid rgba(255, 255,255,0.1);
    border-bottom: 1px solid rgba(255, 255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);

}

.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skew(-15deg);
}

.container h2{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0px 10px;
    margin: 30px 0px 20px;
}

.container .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}

.container .row100 .col .inputBox input,.container .row100 .col .inputBox textarea{
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.container .row100 .col .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0px 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.container .row100 .col .inputBox input:focus + .text,.container .row100 .col .inputBox textarea:focus + .text{
    top: -35px;
    left:-10px;
}

.container .row100 .col .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;

}

.container .row100 .col .inputBox input:focus + .line,.container .row100 .col .inputBox textarea:focus + .line{
    height: 100%;

}

.container .row100 .col .inputBox input:focus ~.line,.container .row100 .col .inputBox input:valid~ .line{
    height: 100%;
}
.container .row100 .col .inputBox textarea:focus ~.line,.container .row100 .col .inputBox textarea:valid~ .line{
    height: 100%;
}

.glass-button {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    width: fit-content;
  }
  
  .glass-button:hover {
    background-color: rgba(255,255,255,0.2);
  }
